<!DOCTYPE html>
<html>
<head>
    <title>Products Page</title>
</head>
<body>
    <h1>Products List</h1>
    <ul>
        <% for (var i = 0; i < list.length ; i++) { %>
            <li> <%= list[i].ProductName %> </li>
        <% } %>
    </ul>
</body>
</html>
