<h1 class = "text-center">THEO DÕI ĐƠN HÀNG</h1>
 <img class="payment-image" src="/img/image6.png" alt="Ảnh thanh toán" style="display:flex;justify-content: center;  margin: auto;"/>
<form action="#"  style=" margin-top: 50px;">
    <p class="post">
        <span id="text"><strong>NHẬP MÃ ĐƠN HÀNG</strong></span>
        <input type="text" style="background-color: #F2EBEB; border:#000000"/>
    </p>
  <button class="button" type="button" style="background-color: #ffdad7;border:#000000;height: 35px;width: 200px">        
       
    TIẾP TỤC
    </button>
    <p class="post">
        <span id="text"><strong>TRẠNG THÁI</strong></span>
        <input type="text" style="background-color: #F2EBEB; border:#000000"/>

    </p>
</form>
 <button class="button" type="button" style="background-color: #ffdad7;border:#000000;height: 35px;width: 200px">        
            CẬP NHẬT
 </button>