<div id="header" >
       <img src="/img/image6.png" class="logo" alt="" style="height: 70px; width: 90px;">
    </div>
 <h1 class = "text-center">DANH SÁCH ĐƠN HÀNG</h1>

 <div class = "list">
          <ol>
              <div class="dropdown d-inline-block">
                <li>Đơn hàng 1
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                  Tutorials
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="#">Nhận đơn hàng</a></li>
                  <li><a href="#">Đang đi lấy hàng</a></li>
                  <li><a href="#">Đã lấy hàng</a></li>
                  <li><a href="#">Đang giao</a></li>
                  <li><a href="#">Giao xong</a></li>
                  <li><a href="#">Huỷ đơn hàng</a></li>
                </ul>
              </li>
            </div>

            <div class="dropdown d-inline-block">
                  <li>Đơn hàng 2
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    Tutorials
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#">Nhận đơn hàng</a></li>
                    <li><a href="#">Đang đi lấy hàng</a></li>
                    <li><a href="#">Đã lấy hàng</a></li>
                    <li><a href="#">Đang giao</a></li>
                    <li><a href="#">Giao xong</a></li>
                    <li><a href="#">Huỷ đơn hàng</a></li>
                  </ul>
                </li>
              </div>            
            <div class="dropdown d-inline-block">
                <li>Đơn hàng 3
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                  Tutorials
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="#">Nhận đơn hàng</a></li>
                  <li><a href="#">Đang đi lấy hàng</a></li>
                  <li><a href="#">Đã lấy hàng</a></li>
                  <li><a href="#">Đang giao</a></li>
                  <li><a href="#">Giao xong</a></li>
                  <li><a href="#">Huỷ đơn hàng</a></li>
                </ul>
              </li>
            </div>
          </ol>
        </div>