<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/public/css/app.css" >  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">  
   </head>
  <body>
    <body>
   <div class="m-4">
        <p class = "text-center" id="map"> GIAO HÀNG ĐẾN</p>

    <div class="row g-2" >
            
      <div id="group" class="row g-2">
        <div class="col-6">
            <div class="input-group">
               <span id="text"><strong>BẠN ĂN GÌ CHƯA?</strong></span>
               <input  type="text" class="form-control" style="height: 35px;background-color:#f2ebeb" >
                <span class="input-group-text">
                    <span class="bi bi-search"></span>
                </span>
            </div>
        </div>
        <div class="col-6">
           <button  type="button" class="btn-search" style="height: 35px;width: 100px;border:#000000">
                TÌM KIẾM
            </button>
        </div>
      </div>
    {{!-- ĐỌC THÔNG TIN HÌNH ẢNH MÓN ĂN, TRỎ VÀO MÓN ĂN HIỆN RA MÔ TẢ --}}
      </body>
    </div>
  </body>

</html>