<header>
    <h1 class = "text-center">MÓN ĂN CỦA CỬA HÀNG</h1>
    <h4 class = "text-center">TÊN CỬA HÀNG</h4>
    <h4 class = "text-center">TÊN CHI NHÁNH</h4>
</header>
{{!-- SHOW KIỂU FLEX HOẶC TABLE --}}

